/* src/index.css */
@import './fonts/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Almas', sans-serif;
  }
  
  body {
    direction: rtl;
  }

  /* برای ناوبار direction رو به ltr برگردون */
  nav {
    direction: ltr;
  }

  /* برای منوی موبایل هم ltr باشه */
  .mobile-menu {
    direction: ltr;
  }
}