/* src/index.css */
@import './fonts/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Almas', sans-serif;
  }
  
  body {
    direction: rtl;
  }

  /* برای ناوبار direction رو به ltr برگردون */
  nav {
    direction: ltr;
  }

  /* برای منوی موبایل هم ltr باشه */
  .mobile-menu {
    direction: ltr;
  }
}

/* اسکرول‌بار سفارشی */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* برای اسکرول افقی */
  width: 8px;  /* برای اسکرول عمودی */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #f59e0b; /* همون amber-500 */
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d97706; /* amber-600 */
}

/* فایرفاکس */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #f59e0b transparent;
}
